// app global css in Stylus form
a
  color black
  text-decoration none

.loader
  font-size 2em
  &:before
    opacity .9!important

fluid-font-size($minimumSize = 12, $maximumSize = 18, $minimumViewportWidth = 300, $maximumViewportWidth = 2440)
  font-size: 'calc(%spx + (%s - %s) * ((100vw - %spx) / (%s - %s))) !important' % ($minimumSize $maximumSize $minimumSize $minimumViewportWidth $maximumViewportWidth $minimumViewportWidth)

for num in (8..56)
  .fontsize-{num}
    fluid-font-size num (num*2+2) 500 3840
// .q-diag-glassMorph
//   border-radius 28px !important
//   background rgba( 0, 0, 0, 0.40 )
//   backdrop-filter blur( 8.0px )
//   -webkit-backdrop-filter blur( 8.0px )
//   border-radius 10px
// .q-fullscreen-glassMorph
//   @extends .q-diag-glassMorph
//   border-radius 0px !important
//   height 100%

// .backgroundImage
//   background-image: url('https://firebasestorage.googleapis.com/v0/b/restaurant-testnet.appspot.com/o/Editor%2FPhotos%2Fdarkslate975187?alt=media&token=790d4254-67c2-428d-9c57-bec81258b354');

// .q-dialog__backdrop
//   background-color transparent

// .q-select__dialog
//   @extends .q-diag-glassMorph

.q-drawer
  border-top-right-radius: 100px;
  overflow: hidden;
// .q-drawer
//   background rgba( 0, 0, 0, 0.40 )
//   backdrop-filter blur( 8.0px )
//   -webkit-backdrop-filter blur( 8.0px )
//   color white
// .q-table__container
//   @extends .q-drawer
//   font-weight: 800
// .q-table__top
//   @extends .q-drawer
//   background-color rgba($secondary, 0.25)

// .q-cardtop
//   @extends .q-table__top

// .q-cardGlass
//   @extends .q-diag-glassMorph

// .q-dialog-plugin
//   @extends .q-diag-glassMorph

// .q-menu
//   @extends .q-diag-glassMorph
//   border-top-right-radius: 0px !important
//   border-top-left-radius: 0px !important
//   box-shadow none
// ScrollBar
body
  scrollbar-width thin          /* "auto" or "thin" */
  scrollbar-color $primary $secondary   /* scroll thumb and track */
* {
  scrollbar-width: thin;
  scrollbar-color: $primary $secondary
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $secondary;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  border: 3px solid $secondary;
}