// app global css in Stylus form
a
  color black
  text-decoration none
.q-footer
  background-color $primary !important

.q-dialog__message
  font-weight 800


.loader
  font-size 2em
  &:before
    opacity .9!important
@font-face
  font-family customfont
  src url(./font/Montserrat-Regular.woff)

// declare a class which applies it
.my-font
  font-family 'customfont'

fluid-font-size($minimumSize = 12, $maximumSize = 18, $minimumViewportWidth = 300, $maximumViewportWidth = 2440)
  font-size 'calc(%spx + (%s - %s) * ((100vw - %spx) / (%s - %s))) !important' % ($minimumSize $maximumSize $minimumSize $minimumViewportWidth $maximumViewportWidth $minimumViewportWidth)

for num in (8..56)
  .fontsize-{num}
    fluid-font-size num (num*2+2) 500 3840

// ScrollBar
body
  scrollbar-width thin          /* "auto" or "thin" */
  scrollbar-color $primary $secondary   /* scroll thumb and track */
* {
  scrollbar-width: thin;
  scrollbar-color: $primary $secondary
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $secondary;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  border: 3px solid $secondary;
}